/* Full Padding Utilities
-----------------------------*/
.util-width--xs     { width: 10% !important; }

.util-width--sm     { width: 25% !important; }

.util-width--md     { width: 50% !important; }

.util-width--lg     { width: 75% !important; }

.util-width--full   { width: 100% !important; }
